/* Goran's kod */

// Body styles
body {
    min-height: 100vh;
    background-color: $color-gray-medium;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
    // overflow-y: hidden;
}

/* slut på Goran's kod */
