.digitalTimer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: white;
  gap: 9rem;

  .digitalH1 {
    font-size: $base-size-xllarge;
    color: $color-gray-dark;
    position: relative;
  }
  span {
    font-size: $base-size-xlarge;
    color: $color-gray-dark;
    position: relative;
  }
  .abort-timer {
    background: none;
    color: $color-gray-darker;
    border: 1px solid $color-black;
    padding: 10px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    text-transform: uppercase;
  }
}

@media only screen and (min-width: 601px) {
  .digitalTimer {
    .digitalH1 {
      font-size: $base-size-xlarge;
    }
    span {
      font-size: $base-size-xlarge;
    }
    .abort-timer {
      font-size: $base-size-large;
    }
  }
}
