.page-two {
    height: 100vh;
  background-color: $color-pink;
  @include flexdirection(column);

  .first-block {
    @include flexdirection(row);
    margin-top: 20px;
    .left,
    .number,
    .right {
      margin: 20px;
      font-size: $base-size-large;
    }
    .number{
        font-size: $base-size-xlarge;
    }
    .left, .right{
        color: $color-gray-medium;
        margin: 40px;
    }
  }

  .second-block {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    margin-left: -20px;

    .box-one, .box-two{
        display: flex;
        flex-direction: row;
        width: 100%;  
        margin-bottom: 20px;
        
        div{
            margin: 5px
        }
        .intervals{
            font-size: $base-size-medium;
            margin-top: 10px;
        }
        .box{
            width: 25px;
            height: 25px;
            border-radius: 10%;
            border: 2px solid $color-black;
        }
      }
  }
  .start-timer{
    padding: 10px 50px;
    margin-top: 20px;
    border-radius: 3px;
    font-weight: 700;
    letter-spacing: 0.5px;
    font-size: $base-size-medium;
  }
}
