@media only screen and (max-width: 600px) {
  .page-five {
    height: 100vh;
    @include flexdirection(column);
    background-color: black;

    .header-interval {
      margin-top: 40px;
      color: $color-white;
      padding-bottom: 20px;
      display: flex;
      align-items: center;
      .ic {
        font-size: $base-size-large;
        margin-right: 10px;
        cursor: pointer;
      }
      .interval {
        flex: 1;
        text-align: center;
        font-size: $base-size-medium;
        text-transform: uppercase;
        letter-spacing: 0.5px;
      }
    }

    #timer-bar {
      margin-top: 100px;
      background: linear-gradient(
        to left,
        $color-gray-darker,
        $color-gray-light,
        $color-pink-light,
        $color-gray-light,
        $color-gray-darker
      );
      box-shadow: 5px 5px 20px $color-gray-light;
      border-radius: 5px;
      height: 150px;
      width: 250px;
      transition: height 0.5s ease-in-out, background-color 0.5s ease-in-out;
    }

    .btn-container {
      align-self: center;
      margin-top: auto; 
      margin-bottom: 40px;
      .abort-timer {
        background-color: black;
        color: white;
        border: 2px solid white;
        border-radius: 5px;
        padding: 10px 30px;
        font-weight: 400;
        letter-spacing: 0.5px;
        font-size: $base-size-medium;
        text-transform: uppercase;
        cursor: pointer;
      }
    }
  }
}

@media only screen and (min-width: 601px) {
  .page-five {
    height: 100vh;
    @include flexdirection(column);
    background-color: black;

    .header-interval {
      margin-top: 20px;
      color: $color-white;
      padding-bottom: 20px;
      display: flex;
      align-items: center;
      .ic {
        font-size: $base-size-large;
        margin-right: 10px;
        cursor: pointer;
      }
      .interval {
        flex: 1;
        text-align: center;
        font-size: $base-size-xllarge;
        text-transform: uppercase;
        letter-spacing: 0.5px;
      }
    }

    #timer-bar {
     margin-top: 100px;
      background: linear-gradient(
        to left,
        $color-gray-darker,
        $color-gray-light,
        $color-pink-light,
        $color-gray-light,
        $color-gray-darker
      );
      box-shadow: 5px 5px 20px $color-gray-light;
      border-radius: 5px;
      width: 350px;
      transition: height 0.5s ease-in-out, background-color 0.5s ease-in-out;
    }

    .btn-container {
      align-self: center; 
      margin-top: auto; 
      margin-bottom: 40px;
      .abort-timer {
        background-color: black;
        color: white;
        border: 2px solid white;
        border-radius: 5px;
        padding: 10px 50px;
        font-weight: 700;
        letter-spacing: 0.5px;
        font-size: $base-size-medium;
        text-transform: uppercase;
        cursor: pointer;
      }
    }
  }
}
